@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

.main-page {
  height: 100%;

  .footer {
    width: 95%;
    height: 90px;

    background: rgba(20, 255, 0, 0.07);
    border-radius: 1000px;
    margin: auto;
    margin-top: 100px;

    p {
      margin-top: 35px;
      width: 50%;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      color: #50ce46;

      float: left;
      margin-left: 5%;
    }

    .icons-block {
      float: right;
      width: 45%;
      margin-top: 30px;
      img {
        float: right;
        padding-right: 30px;
        cursor: pointer;
      }

      .vk-icon {
        margin-top: 2px;
      }
    }
  }

  .main {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .train-with-us-block {
      width: 100%;
      height: 100%;

      @media (max-width: 900px) {
        .right-block {
          display: none;
        }

        .left-block {
          height: 500px !important;
          width: 80% !important;
          margin: auto !important;
          min-width: 300px !important;
          display: block !important;
          float: none !important;
          .left-padding {
            padding: 50px 0 0 0 !important;
            width: 100% !important;
            img {
              display: block !important;
              margin-left: 100px;
              float: none !important;
            }
            .white-text-block {
              width: 70% !important;
              min-width: 230px;
              height: 155px;
              position: relative;
                margin: auto !important;
              float: none !important;

              h1 {
                font-size: 1.2em !important;
                font-weight: 200 !important;
                margin: 0 !important;
                text-align: center;
              }

              button {
                  width: 100% !important;
                  border: 1px solid #ffffff !important;
              }
            }
          }
        }
      }
      .right-block {
        width: 870px;
        height: 415px;
        background-repeat: no-repeat;
        float: left;

        .right-padding {
          padding: 20px 10px 0 85px;

          h1 {
            font-family: "Montserrat", sans-serif;
            text-align: center;
            font-style: normal;
            font-weight: 600;
            font-size: 19px;
            line-height: 26px;

            color: #ffffff;
          }

          img {
            display: block;
            margin: auto;
          }
        }
      }

      .left-block {
        width: 870px;
        height: 415px;
        background-repeat: no-repeat;
        float: left;

        .left-padding {
          padding: 120px 75px 0 85px;
          img {
            float: left;
            width: 100px;
          }

          .white-text-block {
            width: 400px;
            height: 155px;
            display: block;
            float: left;
            position: relative;
            margin-left: 50px;

            h1 {
              font-family: "Montserrat", sans-serif;
              font-style: normal;
              font-weight: 800;
              font-size: 25px;
              line-height: 37px;

              color: #ffffff;
            }

            button {
              /* Rectangle 27 */

              width: 250px;
              height: 40px;

              border: 2px solid #ffffff;
              box-sizing: border-box;
              border-radius: 5px;
              font-family: "Montserrat", sans-serif;
              font-style: normal;
              font-weight: 200;
              font-size: 20px;
              line-height: 34px;
              background: none;
              position: absolute;
              bottom: 0;
              color: #ffffff;
            }
          }
        }
      }
      .right-block {
        margin-top: 61px;
        width: 435px;
        height: 328px;
        background-repeat: no-repeat;
        float: right;
      }
    }

    .reviews-block {
      margin-top: 20px;
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;
      flex-direction: row;

      .review-block {
        width: 250px;
        height: 300px;

        img {
          width: 100px;
          height: 100px;
          display: block;
          border-radius: 1000px;
          object-fit: cover;
          margin: auto;
          border: 3px solid #6af15e;
        }

        h1 {
          text-align: center;
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 600;
          font-size: 21px;
          line-height: 26px;

          color: #50ce46;
        }

        p {
          text-align: justify;
          margin: auto;
          font-family: "Montserrat", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          line-height: 22px;

          color: #50ce46;
        }
      }
    }

    .products-block {
      width: 80%;
      height: 500px;
      margin: auto;
      max-width: 100%;
      background-repeat: no-repeat;
      background-repeat: no-repeat;
      background-size: contain;

      @media (max-width: 990px) {
        height: 400px;
        display: block;
        margin: auto !important;
        max-width: 270px;
        .products-padding {
          padding: 7% 0 0 10px !important;
          height: 250px;
          width: 230px;
          overflow: auto;
          margin-top: 50px;
        }
        .product-block {
          margin-top: 20px;
        }
      }

      .products-padding {
        padding: 7% 100px 0 95px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .product-block {
          width: 25%;
          height: 50%;
          min-height: 180px;
          min-width: 170px;

          img {
            width: 100%;
            max-width: 250px;
            height: 90%;
            display: block;
            margin: auto;
          }

          button {
            width: 120px;
            height: 30px;
            display: block;

            margin: auto;
            border: 0;
            font-family: "Montserrat", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #50ce46;

            background: #ffffff;
            outline: none;
            border-radius: 100px;

            &:hover {
              color: #43b83a;

              background: #f5fbf6;
            }
            &:active {
              color: #65ca5e;

              background: #fdfffe;
            }
          }
        }
      }
    }
  }

  .header {
    .small-green-box {
      display: none;

      position: absolute;
      right: 0;
      top: 370px;
    }
    height: 850px;
    padding-left: 100px;
    padding-top: 20px;

    @media (min-width: 990px) and (max-width: 1300px) {
      .text-block {
        margin-top: 800px !important;
        height: 500px;
        width: 100% !important;

        h2 {
          width: 50% !important;
          display: block !important;
          margin: auto !important;
        }

        button {
          display: block !important;
          margin: auto;
        }
      }
    }

    @media (max-width: 990px) {
      padding-left: 20px;
      padding-top: 20px;
      height: 650px !important;
      h1 {
        font-size: 1.8em !important;
      }

      button {
        width: 230px !important;
        height: 40px !important;
        font-size: 1.2em !important;
        font-weight: 300;
        border: 0.5px solid #50ce46;
      }
    }

    .text-block {
      margin-top: 130px;
      width: 30% !important;
      min-width: 290px;

      h2 {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 1.7em;
        line-height: 40px;
        text-align: justify;

        color: #50ce46;
      }

      @media (max-width: 900px) {
        margin-top: 15px;
        h2 {
          font-size: 1.15em !important;
        }
      }

      button {
        width: 286px;
        height: 60px;

        border: 0;
        display: block;
        margin-top: 20px;
        background: none;

        border: 2px solid #50ce46;
        box-sizing: border-box;
        border-radius: 10px;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        outline: none;
        color: #50ce46;

        &:hover {
          color: #33a12b;
          border: 2px solid #33a12b;
        }
        &:active {
          color: #50ce46;
          border: 2px solid #50ce46;
        }
      }
    }
    .navbar-block {
      width: 100%;
      height: 100px;

      @media (max-width: 990px) {
        ul {
          display: none !important;
        }
      }
      ul {
        position: absolute;
        top: 22px;
        right: 20px;
        list-style-type: none;
        width: 45%;
        padding: 0;
        overflow: hidden;
        margin: 0;
        li {
          float: right;
          a {
            display: block;
            color: white;
            text-align: center;
            font-size: 1.2em;
            font-family: "Montserrat", sans-serif;
            font-weight: 600;
            padding: 15px 10px;
            text-decoration: none;
            &:hover {
              color: #c8ffc3;
            }
          }
        }
      }
      h1 {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 48px;
        line-height: 59px;

        float: left;
        color: #6af15e;
      }
    }

    @media (max-width: 990px) {
      .green-box,
      .proteins {
        display: none;
      }

      .small-green-box,
      .small-proteins {
        display: block !important;
      }
    }

    .green-box {
      position: absolute;
      width: 800px;
      z-index: -1;
      height: 800px;
      background-repeat: no-repeat;
      right: 0;
      top: 0;
    }

    .proteins {
      width: 530px;
      height: 400px;
      position: absolute;
      right: 110px;
      top: 250px;
    }

    .small-proteins {
      display: none;
      position: absolute;
      right: 0;
      top: 400px;
    }

    .pbadge {
      margin-top: 15px;
      margin-left: 20px;
      float: left;
      background: #6af15e;
      border-radius: 1000px;

      width: 110px;
      height: 30px;

      display: flex;
      align-items: center;
      justify-content: center;

      p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;

        color: #ffffff;
      }
    }
  }
}
