.products-popup {
  width: 100%;
  height: 50%;
  min-width: 290px;
  min-height: 400px;
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
  border-radius: 10px;

  &__padding {
    padding: 20px;
    position: relative;
    .products-block {
      width: 100%;
      height: 300px;
      overflow: auto;
      margin-top: 30px;
      .product-block {
        float: left;
        margin-top: 20px;
        width: 100%;
        overflow: auto;
        .image-side {
          width: 100px;
          height: 100px;

          float: left;
          img {
            width: 100px;
            height: 100px;
            object-fit: contain;
          }
        }
        .text-side {
          float: left;
          width: 60%;
          p {
            font-family: "Montserrat", sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 17px;

            color: #000000;
          }
        }

        .line {
          display: block;
          float: left;
          margin: auto;
          width: 100%;
          min-width: 170px;
          height: 0px;
          border-bottom: 0.2px solid #b4afaf;
          transform: rotate(0.12deg);
        }
      }
    }

    .empty {
      .empty-text {
        margin-top: 20px;
        font-family: "Montserrat", sans-serif;
        text-align: center;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 41px;

        color: #a1a1a1;
      }

      button {
        display: block;
        margin: auto;
        outline: none;
        border: 0;
        width: 150px;
        height: 40px;
        border-radius: 7px;
        background: #6af15e;
        box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        z-index: -2;

        color: #ffffff;

        &:hover {
          background: #78f56d;
        }
        &:active {
          background: #6df360;
        }
      }
    }

    h1 {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 39px;
      text-align: center;
      color: #000000;
    }

    .input-block {
      width: 80%;
      height: 10 0px;

      display: block;
      margin: auto;

      input {
        width: 100%;
        height: 40px;
        padding: 10px;

        background: #f9f9f9;
        border: 1px solid #dbdbdb;
        box-sizing: border-box;
        color: black;
        font-size: 1.3em;
        font-family: "Montserrat", sans-serif;
      }
    }

    .closeIcon {
      width: 24px;
      height: 24px;
      fill: #000;

      position: absolute;
      right: 10px;
      top: 10px;
    }

    button {
      position: absolute;
      width: 200px;
      height: 40px;

      left: 50%;
      bottom: -100px;

      transform: translate(-50%, -50%);

      border: 0;
      outline: none !important;
      background: #6af15e;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
      border-radius: 7px;

      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;

      color: #ffffff;

      &:hover {
        background: #79ff6c;
      }

      &:active {
        background: #55fd46;
        outline: none;
      }
    }
  }
}
