.navbar-component {
  width: 100%;

  @media (max-width: 800px) {
    .green-badge {
      width: 10% !important;
      height: 20px !important;
      font-size: 0.7em !important;
      margin-top: 20px !important;
      margin-left: 95px !important;
    }
    .green-letters {
      font-size: 30px !important;
      width: 75px !important;
      float: left;
    }
    .nav-link-bar {
      color: #6af15e !important;
    }
  }
  .green-letters {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 59px;
    color: #6af15e;
  }

  .green-badge {
    margin-top: 15px;
    margin-left: 20px;
    float: left;
    background: #6af15e;
    border-radius: 1000px;

    width: 110px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

    color: #ffffff;
  }

  .nav-link-bar {
    color: #6af15e;
    font-size: 1.2em;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
}
